@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import 'variables';
body {
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 18pt;
    color: $off-black;

}
h1, h2, h3, h4, h5, h6{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-align: left;
}
::selection {
    color: white;
    background: $theme-blue;
}
.home{
    font-size: 18pt;
    @media(max-width:800px){
        font-size: 16pt;
    }
    @media(max-width:500px){
        font-size: 14pt;
    }
    @media(max-width:800px){
        font-size: 12pt;
    }
}
h1, h2, h3, h4, h5, h6 a {
    
    text-decoration: none;
}
a {
    color: $off-black;
    &:hover {color: $theme-blue}
    &:active {color: $theme-blue}
}